* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ui.basic.linkedin.button,
.ui.basic.linkedin.buttons,
.button {
  box-shadow: 0 0 0 1px #fff inset !important;
  color: #fff !important;
  margin-top: 20px;
}

.video {
  border: 3px solid #ececec;
  box-sizing: border-box;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1.3px solid #fff;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  font-size: 17px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 12px 20px !important;
  cursor: pointer;
}
